name: Release

on:
  workflow_dispatch:
  tags:
    - v*

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: uv python install
      - run: uv build
      - run: uv publish
      - run: gh release create "v$(uv version --short)" dist/* --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
