name: Ruff

on: [ push ]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
        with:
          args: "format --check --diff"
      - uses: astral-sh/ruff-action@v3
        with:
          args: "check"
