name: Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: uv sync --locked --all-groups
      - run: uv pip install -e .
      - run: uv run pytest tests
